@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<table class="table table-striped text-center">
    <thead>

    </thead>
    <tbody>
        <tr>
            <th scope="row">Dane użytkownika</th>
            <td>Edycja danych uzytkownika </td>
            <td><a asp-controller="Account" asp-action="UserDetails">Przejdź do danych</a></td>
        </tr>
        <tr>
            <th scope="row">Urządzenia przypisane do użytkownika</th>
            <td>Lista urządzeń, które zostały przypisane dla uzytkownika np. telefon,komputer</td>
            <td><a asp-action="Account" asp-action="UserDetails">Przejdź do danych</a></td>
        </tr>
       
    </tbody>
</table>
