@if (ViewBag.ErrorTitle == null)
{
    <h3>
       Prosimy o kontak z działem it
    </h3>
    <h5>it@axito.pl</h5>
}
else
{
    <h1 class="text-danger">@ViewBag.ErrorTitle</h1>
    <h6 class="text-danger">@ViewBag.ErrorMessage</h6>
}
<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Powrót na strone główną.</a>