@model KPI_vol2.Models.Tasks

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Tasks</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="PostDate" class="control-label"></label>
                <input asp-for="PostDate" class="form-control" />
                <span asp-validation-for="PostDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PosterId" class="control-label"></label>
                <select asp-for="PosterId" class="form-control" asp-items="ViewBag.PosterId"></select>
                <span asp-validation-for="PosterId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Topic" class="control-label"></label>
                <input asp-for="Topic" class="form-control" />
                <span asp-validation-for="Topic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentId" class="control-label"></label>
                <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId"></select>
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssignedToId" class="control-label"></label>
                <select asp-for="AssignedToId" class="form-control" asp-items="ViewBag.AssignedToId"></select>
                <span asp-validation-for="AssignedToId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriorityId" class="control-label"></label>
                <select asp-for="PriorityId" class="form-control" asp-items="ViewBag.PriorityId"></select>
                <span asp-validation-for="PriorityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deadline" class="control-label"></label>
                <input asp-for="Deadline" class="form-control" />
                <span asp-validation-for="Deadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusByPosterId" class="control-label"></label>
                <select asp-for="StatusByPosterId" class="form-control" asp-items="ViewBag.StatusByPosterId"></select>
                <span asp-validation-for="StatusByPosterId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusByAssignedId" class="control-label"></label>
                <select asp-for="StatusByAssignedId" class="form-control" asp-items="ViewBag.StatusByAssignedId"></select>
                <span asp-validation-for="StatusByAssignedId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClosedOn" class="control-label"></label>
                <input asp-for="ClosedOn" class="form-control" />
                <span asp-validation-for="ClosedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkingAreaId" class="control-label"></label>
                <select asp-for="WorkingAreaId" class="form-control" asp-items="ViewBag.WorkingAreaId"></select>
                <span asp-validation-for="WorkingAreaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
