@model KPI_vol2.Models.Departments

@{
    ViewData["Title"] = "Usuń dział";
}

<h1>Delete</h1>

<h3>Czy na pewno chcesz usunąć dział?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nazwa
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Anuluj</a>
    </form>
</div>
