

<table class="table">
    <thead>
        <tr>
            <th scope="col">Nazwa tabeli słownikowej</th>
            <th scope="col">Opis</th>
            <th scope="col">Odnośnik</th>
            
           
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row" >Status</th>
            <td>Pozwala określić na jakim etapie jest zgłoszenie.</td>
            <td><a asp-controller="Status" asp-action="Index">Przejdź do tabeli</a></td>
           
            
        </tr>
        <tr>
            <th scope="row">Departments</th>
            <td>Dział  pracowniczy.</td>
            <td><a asp-controller="Departments" asp-action="Index">Przejdź do tabeli</a></td>
           
        </tr>
        <tr>
            <th scope="row">Kategorie</th>
            <td>Określenie kategori zgłoszeń.</td>
             <td><a asp-controller="Categories" asp-action="Index">Przejdź do tabeli</a></td>
         
        </tr>
        <tr>
            <th scope="row">Obszar działań</th>
            <td>Obszar, którego dotyczy zgłoszenie.</td>
            <td><a asp-controller="WorkingAreas" asp-action="Index">Przejdź do tabeli</a></td>
         
        </tr>
        <tr>
            <th scope="row">Priorytety</th>
            <td>Określenie priorytetu zadania.</td>
            <td><a asp-controller="Priorities" asp-action="Index">Przejdź do tabeli</a></td>
         
        </tr>
        <tr>
            <th scope="row">Rodzaje urządzeń</th>
            <td>Rodzaje urządzeń wydawane pracownikom.</td>
            <td><a asp-controller="DeviceTypes" asp-action="Index">Przejdź do tabeli</a></td>

        </tr>
        <tr>
            <th scope="row">Numery telefonów</th>
            <td>Numery telefonów nadawane dla pracowników.NOK</td>
            <td><a asp-controller="TelephonNoes" asp-action="Index">Przejdź do tabeli</a></td>

        </tr>
        <tr>
            <th scope="row">Urządzenia</th>
            <td>Urządzenia wydawane pracownikom.</td>
            <td><a asp-controller="Devices" asp-action="Index">Przejdź do tabeli</a></td>

        </tr>
        <tr>
            <th scope="row">Pracownicy</th>
            <td>Lista pracowników.</td>
            <td><a asp-controller="Uzytkowniks" asp-action="Index">Przejdź do tabeli</a></td>

        </tr>
        <tr>
            <th scope="row">Przypisane urządzenia</th>
            <td>Lista urządzeń przypisanych do uzytkowników.</td>
            <td><a asp-controller="UzytkownikDevices" asp-action="Index">Przejdź do tabeli</a></td>

        </tr>
        <tr>
            <th scope="row">Zgłoszenie Kamisibay</th>
            <td>kamiszibay.</td>
            <td><a asp-controller="Zgloszenies" asp-action="Index">Przejdź do tabeli</a></td>

        </tr>
        <tr>
            z<th scope="row">Dodaj Zgłoszenie Kamisibay z komentarzem</th>
            <td>kamiszibay.</td>
            <td><a asp-controller="Comments" asp-action="Create">Dodaj zgłoszenie z komentarzem</a></td>

        </tr>
        <tr>
    <th scope="row">Zgłoszenie Kamisibay z komentarzem index</th>
            <td>kamiszibay.</td>
            <td><a asp-controller="Zgloszenies" asp-action="ZgloszeniaComments">Dodaj zgłoszenie z komentarzem</a></td>

        </tr>
        
        
    </tbody>
</table>
