<div class="container text-center">
    <div class="row align-items-center">
        <div class="col">
            <div class="card" style="width: 18rem;border:white">
                <a asp-controller="Zdarzenias" asp-action="Calendar" style="text-decoration:none;color:black">
                    <img src="~/photos/kask.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-text">BHP</h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;border:white">
                <img src="~/photos/best-quality-icon.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-text">Quality</h3>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;border:white">
                <img src="~/photos/milling-machine.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-text">CNC Production</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col">
            <div class="card" style="width: 18rem;border:white">
                <img src="~/photos/assembly-line.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-text">Assembly production</h3>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;border:white">
                <img src="~/photos/planing.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-text">Planing</h3>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;border:white">
                <img src="~/photos/wrench.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-text">Maitenance</h3>
                </div>
            </div>
        </div>
    </div>
</div>

@*@ViewBag.dzien
@ViewBag.actdzien*@