@model Status

@{
    ViewData["Title"] = "Usuń nazwę statusu";
}



<h3>Czy na pewno chcesz usunąć ten wpis?</h3>
<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NameStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NameStatus)

        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdStatus" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
