@model IEnumerable<KPI_vol2.Models.Status>

@{
    ViewData["Title"] = "Nazwy statusów";
}

<h1>Lista nazw</h1>

<p>
    <a asp-action="Create">Dadaj</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NazwaStatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdStatus">Edycja</a> |
                
                <a asp-action="Delete" asp-route-id="@item.IdStatus">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
