@model ZdarzenieVM

@{
    ViewData["Title"] = "Dodaj zdarzenie";
}


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
                    <div class="col-md-4">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Name" class="control-label">Tytuł</label>
                                <input type="text" class="form-control" id="txtName" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Opis" class="control-label"></label>
                                <textarea asp-for="Opis" class="form-control" rows="5" id="txtOpis"></textarea>
                                <span asp-validation-for="Opis" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Naprawa" class="control-label"></label>
                                <textarea asp-for="Naprawa" class="form-control" rows="5" id="txtNaprawa"></textarea>
                                <span asp-validation-for="Naprawa" class="text-danger"></span>
                            </div>
                             <div class="form-group">
                            <label asp-for="DataZdarzenia" class="control-label"></label>
                            <input asp-for="DataZdarzenia" class="form-control" id="dataZda"/>
                            <span asp-validation-for="DataZdarzenia" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Status zgłoszenia</label>
                                <select class="form-control" id="exampleFormControlSelect1" asp-for="IdStatus" asp-items="@ViewBag.Status">
                                    <option value=" test">Status</option>
                                </select>

                                <span asp-validation-for="IdStatus" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="DataWykonania" class="control-label"></label>
                                <input asp-for="DataWykonania" class="form-control" id="dataWyk" />
                                <span asp-validation-for="DataWykonania" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="OsobaOdpowiedzialna" class="control-label">Osoba odpowiedzialna</label>
                                <input asp-for="OsobaOdpowiedzialna" class="form-control" id="txtOsoba"/>
                                <span asp-validation-for="OsobaOdpowiedzialna" class="text-danger"></span>
                            </div>
                            <br />
                            <div class="form-group">
                               
                            </div>
                            <div>
                                <a asp-action="Index">Anuluj</a>
                            </div>
                        </form>
                    </div>
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnSave">Save</button>
                
            </div>
        </div>
    </div>
</div>










<div id='calendar'></div>

<script type="text/javascript">





    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',

            headerToolbar: {



            },
            //events: 'http://kpi.pl.uhlmann-net.de/Zdarzenias/getevents',
            events: 'https://localhost:7210/Zdarzenias/GetEvents',
            eventColor: '#f54425',
            selectable: true,
            selectHelper: true,
            edittable: true,
            eventLimit: true,
            select: function (start, end, allDays) {
                $('#exampleModal').modal('toggle');
                $.post('@Url.Action("Create","Bhp")'{ id: id }function (data));
            }




        });
        /* calendar.FullCalendar('addEventSource', '/zdarzenias/EventsJson');*/

        calendar.render();
    });
</script>
